POLAR_ACCESS_TOKEN=<polar_oat_alpha-neumeric-characters> 
# https://docs.polar.sh/integrate/oat 
POLAR_SUCCESS_URL=<url-of-website-to-be-displayed-after-successful-order>
# url of website to be displayed after successful order
POLAR_WEBHOOK_SECRET=<polar_whs_alpha-neumeric-characters>
# https://docs.polar.sh/integrate/webhooks/endpoints#setup-webhooks 