POLAR_ACCESS_TOKEN=your_polar_access_token_here
# https://docs.polar.sh/integrate/oat 
POLAR_SUCCESS_URL=your_success_url_here
# url of website to be displayed after successful order
POLAR_WEBHOOK_SECRET=your_polar_webhook_secret_here
# https://docs.polar.sh/integrate/webhooks/endpoints#setup-webhooks 